.watch-anywhere {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            text-align: center;
            margin-bottom: 24px;
        }

        p {
            text-align: center;
        }
    }
}