// Importações
@use 'variaveis';
@use 'hero';
@use 'shows';

// Fonts

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

// mixins

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$CorTextoPrincipal;
};

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
};

// Classes

.title--big {
    @include title(44px)
};

.title {
    @include title;
};

.title--small {
    @include title(28px)
};

.text--big {
    @include text(18px);
};

.text {
    @include text;
};

.text-small {
    @include text(12px);
};

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
};






// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variaveis.$CorDeFundo;
}

